@media (min-width: 740px) and (max-width: 1023px) {
    .sub-navbar {
        overflow-x: auto;
    }

    .panner {
        display: none;
    }

    .header__menu-main {
        width: 40%;
    }

    .select--Main {
        display: none;
    }

    .header-select__car {
        display: none;
    }

    .nav__list {
        overflow-x: auto;
    }



}

@media (max-width: 739px) {
    .nav__list {
        overflow-x: auto;
    }

    .header-select__car {
        display: none;
    }

    .sub-navbar {
        overflow-x: auto;
    }

    .panner {
        display: none;
    }

    .header__menu-main {
        width: 100%;
    }

    .select--Main {
        display: none;
    }

    .overlay__category-option {
        top: 0.75%;
        left: 0;
        right: 0;
    }

    .nav__option-main--1,
    .nav__option-main--2,
    .nav__option-main--3,
    .nav__option-main--4,
    .nav__option-main--5,
    .nav__option-main--6 {
        top: 0.75%;
        left: 0;
        right: 0;
    }

    .overlay__category-option--re1 {
        top: 1%;
        left: 0;
        right: 0;
    }

    .nav__option-main--1--res1 {
        top: 1%;
        left: 0;
        right: 0;
    }

    .overlay__category-option--res2 {
        top: 1.6%;
        left: 0;
        right: 0;
    }

    .nav__option-main--1--res2 {
        top: 1.6%;
        left: 0;
        right: 0;
    }

    .nav-category {
        padding: 26px 24px;
    }

    .header__logo {
        display: none;
    }

    .header-search__input {
        width: 200px;
    }

    .nav__item-link {
        min-width: 100px;
    }

    .sub-navbar-link {
        min-width: 100px;
    }


    .discount__item-img--right {
        height: 240px;
    }

    .discount__item-img--left--product {
        height: 347px;
    }

    .discount__item-img--right {
        height: 347px;
    }

    .discount__item-btn--center {
        margin: 0;
    }

    .sub-navbar-item {
        padding: 12px;
    }

    .discount__item-btn--bottom {
        margin: 0;
    }

    .footer__main {
        padding: 50px 50px;
    }

    .footer__info--right {
        padding-left: 0px;
    }

    .footer__line-title {
        display: none;
    }

    .l-2-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .shoppingCart-support span {
        display: none;
    }

    .shoppingCart__keepShopping {
        margin-right: 118px;
        margin-left: 75px;
        margin-bottom: 24px;
    }

    .product__content-main__des {
        display: none;
    }

    .price {
        text-align: center;
        width: 100%;
    }

    .l-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .price__title--2 {
        right: 173px;
    }

    .clear__mp {
        display: none;
    }

    .product-detail__nav {
        margin-left: 18px;
        overflow-x: auto;
    }

    .product-detail__nav-item a {
        min-width: 100px;
    }

    .product-detail__info-detail {
        padding: 18px;
    }

    .product-detail__support {
        margin-left: 28px;
    }

    .product-detail__main {
        padding: 0 16px;
    }

    .product-detail__info-detail-title {
        margin-left: 16px;

    }

    .product-detail__info-detail__list {
        margin-left: 16px;
    }

    .product-detail__info-detail__btn-link {
        width: 90%;
        margin: 12px 12px;
    }

    .product-detail__info-detail-des {
        margin: 12px;
    }

    .Copyright-des {
        margin-left: 30px;
    }

    .product-detail__info-detail-title-sub {
        margin-left: 16px;
    }

    .product-detail__info-detail__chat {
        margin-left: 130px;
    }

    .clear-cart {
        display: none;
    }

    .product-detail__center {
        padding-right: 0;
    }

    .product__item-img-main--responsive {
        display: block !important;
        height: 180px;
        margin-left: 45px;
    }

    .product__item-img--respnsive {
        width: 80%;
    }

    .login__input {
        width: 250px;
    }

    .header__right {
        margin-left: 160px;
    }

    .Copyright__info {
        margin-top: 172px;
    }

    .login {
        padding: 30px;
    }

    .option {
        flex-direction: column;
    }

    .option div {
        margin-bottom: 12px;
    }

    .submit {
        width: 80%;
    }

    .content__title {
        font-size: 3rem;
    }

    .des {
        margin-right: 90px;
    }
}